html {
    height: 690px;
    width: 1246px;
}

.homeButton, .dropdown {
    display: block;
    margin: auto;
    text-align: center;
}

.buttonGroup{
    text-align: center;
}

.buttonBottom {
    width: 500px;
    position: absolute;
    bottom: 0;
}

#additionalQuestions, #additionalQuestions1 {
    display: none;
}

#homePage {
    vertical-align: middle;
    text-align: center;
}

#firstStep {
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

::placeholder {
  color: red;
  // background-color: white;
}

header {
    margin-top: -5px;
}

#indexButton {
    width: 10%;
    height: 5%;
}


.submitButton {
    color: white;
    background-color: blue;
}


.condenseHelp{
    width: 20%;
    position: relative;
}

/* Tooltip text */
.condenseText {
  visibility: hidden;
  width: 400px;
  height: 200px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  background: white;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5;
  top: 100%;
  left: 50%;
  margin-left: -200px;
}

.condenseHelp:hover .condenseText {
  visibility: visible;
}

.helpButton {
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

ol, li {
    background: white;
}

.imageHelp{
    width: 20%;
    position: relative;
}

/* Tooltip text */
.imageHelpText {
  visibility: hidden;
  width: 400px;
  height: 200px;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  background: white;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 5;
  top: -5px;
  left: 105%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.imageHelp:hover .imageHelpText {
  visibility: visible;
}

#myBrailleCanvas {
    cursor: auto;
    width: 775px;
    height: 775px;
}

canvas {
    cursor: crosshair;
    border: 1px solid #000000;
}

iframe {
    width: 100%;
    height: 100%;
}


#theImagetoLabel, #secondStep, #thirdStep, #thirdYesStep, #thirdNoStep, #boardForm, #currRegionInfo, #currGameSpaceInfo,
#theRegionForm, .readOnlyFormElement, #theSymbolForm, #regionForm, #currLabelInfo, #currSymbolInfo, #suggestionArea,
#theAccessKit, #lasercut{
    display: none;
}

button {
    width: 25%;
    height: 8%;
    color: white;
    background-color: blue;
    border-radius: 8px;
}

* {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    background-color: lightgrey;
}

h2, h3{
    padding: 0px;
    text-align: center;
}

#boardAnnotate {
    position:absolute;
}

#myCanvas {
    position: relative;
    z-index: 2;
    left: 0px;
    top: 0px;
}

#container{
    display: inline-block;
    width: 775px;
    height: 775px;
    margin: 0 auto;
    position: relative;
 }

#myBraille {
    height: 50px;
    width: 500px;
}

#drawingCanvas{
    display: none;
    border: 1px solid: #FF0000;
}

.drag-drop {
    z-index: 100000;
    margin-top: 10px;
}


h1 {
    text-align: center;
    color: blue;
    font-size: 32px;
    margin-bottom: -6px;
}

.soloImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.column, #selectCard {
    float: left;
}

#printLabel {
    float: left;
    width: 35%

}
.directionsText {
    color: blue;
    font-size: 40px;
    text-align: center;
    height: 90%;
    padding: 150px 0;
}

.directionButton{
    float: right;
}

.leftButton {
    float: left;
}

#theTitle {
    color: blue;
}

.bottomInfo {
  position: fixed;
  width: 99%;
  bottom: 1px;
  height: 30%;

}

.frontPageIcons {
    background-color: blue;
}

.bottomInfo, .bottomText, #centerText {
    // background-color: blue;
    // color: white;
    text-align: center;
}

#buttonDone, #printLabel, #finishLabeling {
    float: right;
    width: 25%;
}

.quitButton {
   float: left;
   width: 50%;
}

.otherButton {
    float: right;
    width: 50%;
}

.middleButton {
    float: none;
    width: 50%;
}

font {
    font-size: 18px;
}

.left{
    width: 60%;
    height: 100%;
    text-align: center;
}

.left1{
    width: 70%;
    height: 100%;
    text-align: center;
}

.right1{
    width: 30%;
    height: 100%;
    text-align: left;
}

.theLeft{
    width: 25%;
    height: 100%;
    text-align: center;
}

.theRight{
    width: 40%;
    height: 100%;
}

button:disabled, button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.theMiddle{
    width: 35%;
    height: 100%;
}

.theeLeft2{
    width: 65%;
    height: 100%;
    text-align: center;
}

.theeRight2{
    width: 35%;
    height: 100%;
}

.theLeft2{
    width: 30%;
    height: 100%;
    text-align: center;
}

.theRight2{
    width: 35%;
    height: 100%;
}


.theMiddle2{
    width: 35%;
    height: 100%;
    text-align: center;
}

.theLeft4{
    width: 230px;
    height: 100%;
    text-align: center;

}

.theMiddle4{
    width: 820px;
    height: 100%;
    text-align: center;
}

.theRight4{
    width: 170px;
    height: 100%;
    text-align: center;
}


.theLeftHeader{
    width: 33%;
    text-align: center;
    float: left;
}

.theRightHeader{
    width: 33%;
    text-align: center;
    float: left;
}

.theMiddleHeader{
    width: 33%;
    text-align: center;
    float: left;
}


.theLeftHeader1{
    width: 50%;
    text-align: center;
    float: left;
}

.theRightHeader1{
    width: 50%;
    text-align: center;
    float: right;
}

.theLeft3{
    width: 25%;
    height: 100%;
    text-align: left;
    float: left;
}

.theRight3{
    width: 25%;
    height: 100%;
    text-align: left;
    float: left;
}

.theMiddle3{
    width: 50%;
    height: 100%;
    text-align: center;
    float: left;
}

.message {
    background-color: #FFFFFF;
}

.dialogBox, .promptBox {
    display: none;
    background-color: #FFFFFF;
    border: 1px solid #aaa;
    position: fixed;
    width: 350px;
    left: 50%;
    margin-left: -100px;
    padding: 6px 8px 8px;
    box-sizing: border-box;
    text-align: center;
 }

 .dialogBox button, .promptBox button {
    background-color: #000000;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid #aaa;
    padding: 5px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    color: #FFFFFF;
 }

 #confirm .message {
    text-align: center;
 }

.form-submit-button {
    background: blue;
}

.right {
    width: 40%;
    height: 100%;
}

/* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: blue;
}

/* mouse over link */
button:hover:enabled{
    background: coral;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: aquamarine;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: inline-block;}