<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list-->
<html lang="en">
    <head>
        <title>BoardBooster</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <br>
        <a href="{{ url_for('index') }}"><button id="headerButton">QUIT</button></a>
        <br>
    </header>
    <body>

    <h1>Accessibility Kit for {{cardGame}}</h1>
    <br>
    <iframe src="{{url_for('static', filename ='accessibilityKit.pdf')}}">
    </iframe>
    <a href="{{ url_for('cardPreview') }}"><button type="button" id ="goBack">GO BACK</button></a>
    <a href="{{ url_for('gcFiles') }}"><button type="button" id ="gcFiles">Generate Game Changer Files</button></a>
    </body>
</html>