<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Card Information</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <a href="{{ url_for('stepTwo') }}"><button id="headerButton">Home</button></a>
    </header>
    <body>
    <main role="main">
        <h1>Getting Card Information</h1>
        <img class="soloImage" src="{{ url_for('videoFeed') }}">
        <div class="buttonGroup">
            <button id="color">Card Color</button>
            <button id="type">Card Category</button>
            <button id="text">Read Card Text</button>
        </div>
    </main>
    <script type=text/javascript>
        $(function() {
          $('#color').bind('click', function() {
            $.getJSON('/getColor',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('#type').bind('click', function() {
            $.getJSON('/getType',
                function(data) {
              //do nothing
            });
            return false;
          });
          $('#text').bind('click', function() {
            $.getJSON('/getText',
                function(data) {
              //do nothing
            });
            return false;
          });
        });
    </script>
    </body>
</html>