<!--https://stackoverflow.com/questions/58924015/how-to-display-image-in-flask-after-a-button-is-pressed
https://stackoverflow.com/questions/59370905/flask-calling-python-function-that-return-image-on-button-onclick-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Add New Templates</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <span class="imageHelp">
        <font color="red">Need Help?</font>
        <div class="imageHelpText">
            Image Should Look Something Like This
            <br>
            <img src="static/action.jpg">
        </div>
        </span>
        <a href="{{ url_for('stepTwo') }}"><button id="headerButton">Home</button></a>
    </header>
    <body>
        <h1>Creating Templates</h1>
        <span id="firstStep">
            <font color="red"><h2>Save image when the quality is at its best</h2></font>
        </span>
        <span id="secondStep">
            <font color="green"><h2>Name template if you like image, discard if not</h2></font>
        </span>

        <img height="400" src="{{ url_for('videoFeed') }}">
        <img src="" id="theImage" alt="The Perfect Image">
        <br>
        <div class="buttonGroup">
            <button type="button" id="thePic" onclick="showInstructions()">Take Picture</button>
            <button type="button" id="theDiscard" onclick="changeInstructions()">Discard Picture</button>
            <a id="isDone" href="{{ url_for('labelRegions') }}"><button>Done</button></a>
        </div>

        <form id="templateNaming" action="" method="POST">
            <label for="theTemplateName">Template Name:</label>
            <input type="text" id="theTemplateName" name="theTemplateName" required>
            <input type="submit" value="Save Template" class="submitButton">
        </form>

        <!--<script src="{{ url_for('static', filename='js/createTemplate.js') }}"></script>-->
        <script>
        function showInstructions() {
            document.getElementById("secondStep").style.display = 'inline';
            document.getElementById("firstStep").style.display = 'none';
        }

        function changeInstructions() {
            document.getElementById("secondStep").style.display = 'none';
            document.getElementById("firstStep").style.display = 'inline';
        }

        $(document).ready(function() {
            $('#thePic').click(function(){
                $.ajax({
                   url: "{{ url_for ('getImage') }}",
                   type: "GET",
                   success: function(response) {
                      $("#theImage").attr('src', '/static/' + response);
                   },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });
            $('#theSave').click(function(){
                $.ajax({
                   url: "{{ url_for ('saveImage') }}",
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });
            $('#theDiscard').click(function(){
                $.ajax({
                   url: "{{ url_for ('getImage') }}",
                   type: "GET",
                   success: function(response) {
                       $("#theImage").attr('src', '');
                   },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });
            $('#isDone').click(function(){
                var isDone = confirm("Are you finished taking pictures of cards?\nSelect OK to continue or Cancel to keep taking pictures.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });
        });
        </script>
    </body>
</html>