<html lang="en">
    <head>
        <title>BoardBooster</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <br>
        <a href="{{ url_for('index') }}"><button id="headerButton">QUIT</button></a>
        <br>
    </header>
    <body>

    <h1>Game Changer Files for {{cardGame}}</h1>
    <br>
    <h2 style="text-align: left;">Information about the Game Spaces</h2>
    <!--
    <object width="800" height="400" type="text/plain" data="static/GameChangerFiles/gcGameSpaces.txt" border="1" id="gameSpaceInfo">
    </object>
    <h2 style="text-align: left;">Information about the Cards</h2>
    <object width="800" height="400" type="text/plain" data="static/GameChangerFiles/gcCardInfo.txt" border="1" id="cardInfo">
    </object>-->
    <iframe src="{{url_for('static', filename ='GameChangerFiles/gcGameSpaces.txt')}}">
    </iframe>
    <iframe src="{{url_for('static', filename ='GameChangerFiles/gcCardInfo.txt')}}">
    </iframe>
    <br>
    <a href="{{ url_for('cardPreview') }}"><button type="button" id ="goBack">GO BACK</button></a>
    <a href="static/gameChangerFiles.zip"><button type="button" id ="done">SAVE</button></a>
    </body>
</html>