<!--https://ourcodeworld.com/articles/read/49/draw-points-on-a-canvas-with-javascript-html5-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Label Regions</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <!--<span class="imageHelp">
            <font color="red">Need Help?</font>
            <div class="imageHelpText">Follow the Steps. Label Important Regions on Card<img src="static/labeledRegions.jpg"></div>
        </span>-->
        <div class="theLeftHeader">
            <button id="toQuit" class="quitButton">QUIT</button>
        </div>
        <div class="theMiddleHeader">
            <b><u>Game:</u></b> {{cardGame}}
        </div>
        <div class="theRightHeader">
            <button id="toRetake" class="otherButton">RETAKE PICTURE</button>
        </div>
    </header>
    <body>
    <main role="main">
        <h1>LABELING for GAME CHANGER</h1>
        <br>
        <div class="row">
            <div class="column left1">
                <font color="red">Select the top left and bottom right corner of each game space&#8595;&#8595;&#8595;</font>
                <br>
                <img src="static/uploads/board/theBoardCopy.png" id="boardLabeler" alt="Image of the Board to Label" style="display: none;">
                <canvas id="canvas" width="775" height="775"></canvas>
                <div class="buttonGroup">
                    <button id="undoGameSpace">Undo Last Saved Game Space</button>
                    <button id="showGameSpaces">Show Game Spaces Created</button>
                    <form id="spaceRefresh">

                    </form>
                </div>
            </div>
            <div class="column right1" id="rightDiv">
                <br>
                <font color="red">2. Fill out form below. All fields required.</font><br>
                <div id="">
                    <form id="gameSpaceInfo" action="" method="POST">

                        <label>What is the name of this game space? <br> If no name is provided, then the game space
                        will be numbered beginning at 1</label>
                        <input type="text" id="gameSpaceName" name="gameSpaceName" placeholder="Boardwalk"> <br><br>

                        <label for="gameSpaceTLCoors">Game Space Top Left Coordinates:</label>
                        <input type="text" id="gameSpaceTLCoors" name="gameSpaceTLCoors"><br>
                        <label for="gameSpaceBRCoors">Game Space Bottom Right Coordinates:</label>
                        <input type="text" id="gameSpaceBRCoors" name="gameSpaceBRCoors">
                        <input type="submit" name="save" value="Next Game Space" class="submitButton">
                    </form>
                    <br>
                    <div class="buttonGroup">
                        <a id="isDone" href="{{ url_for('boardPreview') }}"><button id="finishLabeling">Finished</button></a>
                    </div>
                </div>
            </div>
        </div>
        <object width="800" height="800" data="static/gameSpaces.txt" border="0" id="currGameSpaceInfo">
        </object>
        </main>
        <script>
            var coorsDirection = 0;
            //Canvas
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            var img = document.getElementById('boardLabeler');

            //Variables
            var canvasx = $(canvas).offset().left;
            var canvasy = $(canvas).offset().top;
            var last_mousex = last_mousey = 0;
            var mousex = mousey = 0;
            var mousedown = false;

            img.onload = function(){
              ctx.drawImage(img,0,0);

            };

            $("#canvas").click(function(e){
                getPosition(e);
            });

            var pointSize = 3;

            function getPosition(event){
                var rect = canvas.getBoundingClientRect();
                var x = parseInt(event.clientX - rect.left);
                var y = parseInt(event.clientY - rect.top);

                drawCoordinates(x,y);
            }

            function drawCoordinates(x,y){
                var ctx = document.getElementById("canvas").getContext("2d");

                ctx.fillStyle = "#ff2626"; // Red color

                ctx.beginPath();
                ctx.arc(x, y, pointSize, 0, Math.PI * 2, true);
                ctx.fill();
                populateCoors(x,y);
            }

            function populateCoors(x,y) {
                if (coorsDirection % 2 == 0) {
                    document.getElementById('gameSpaceTLCoors').value = x + ',' + y;
                    coorsDirection++;
                }else {
                    document.getElementById('gameSpaceBRCoors').value = x + ',' + y;
                    coorsDirection++;
                }

            }

            $('#isDone').click(function(){
                var isDone = confirm("Are you finished labeling all game spaces?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            $('#toRetake').click(function(){
                var isDone = confirm("Are you sure you want to retake the picture of this card?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            $('#toQuit').click(function(){
                var isDone = confirm("Are you sure you want to quit?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            function tipPrompt() {
                alert("Make a separate region for the color of the card, only the color of the card no text or symbols.");
            }

            $('#undoGameSpace').click(function(){
                $.ajax({
                   url: "{{ url_for ('removeLastGameSpace') }}",
                   type: "POST",
                   success: function(response) {
                      document.getElementById("spaceRefresh").submit();
                   },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });

            });

            $('#showGameSpaces').click(function(){
                var x = document.getElementById("currGameSpaceInfo");
                //location.reload();
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            });


        </script>
    </body>
</html>