<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list-->
<html lang="en">
    <head>
        <title>BoardBooster</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <body>
        <center><img src="static/labelGenLogo.png" height="20%" id="labelGenLogo" alt="The logo for LabelGen"></center>
        <h1 id="theTitle">Welcome to BoardBooster</h1>
        <br>
        <center><font color="blue">Enter the game you are trying to create a kit for!</font></center>
        <div id="homePage">
            <form action="" method="POST">
                <input type="text" id="cardInput" name="cardInput" placeholder="Enter name of the game..." required>
                <input type="submit" id="cardGame" value="Submit" class="submitButton">
            </form>
        </div>
        <div class="bottomInfo">
            BoardBooster gives users a platform to create an accessibility kit for any board game
            <br>
            <p class="theLeftHeader bottomText">
                <img class="frontPageIcons" src="static/editIcon.png" id="editIcon" alt="The Edit Icon">
                <br>
                Annotate board, generate Braille labels
            </p>
            <p class="theMiddleHeader bottomText">
                <img class="frontPageIcons" src="static/labelIcon.png" id="labelIcon" alt="The Label Icon">
                <br>
                Label important parts of the card
            </p>
            <p class="theRightHeader bottomText">
                <img class="frontPageIcons" src="static/picIcon.png" id="picIcon" alt="The Picture Icon">
                <br>
                Take pictures of the board and cards
            </p>
        </div>

    <script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("cardInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>
    </body>
</html>