<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list-->
<html lang="en">
    <head>
        <title>LabelGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <body>
        <center><img src="static/labelGenLogo.png" id="labelGenLogo" alt="The logo for LabelGen"></center>
        <h1>Welcome to LabelGen</h1>
        <!--
        <div class="dropdown">
            <button class="dropbtn">Select Card Game</button>
            <div class="dropdown-content">
                <a href="#">Cards Against Humanity</a>
                <a href="#">Dominion</a>
                <a href="#">Magic the Gathering</a>
                <a href="#">Add New Game</a>
            </div>
        </div>
        <form>

        </form>
        <div>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Enter card game">

            <ul id="myUL">
              <li><a href="#">Cards Against Humanity</a></li>
              <li><a href="#">Dominion</a></li>

              <li><a href="#">Magic the Gathering</a></li>
              <li><a href="#">Standard Playing Cards</a></li>
            </ul>

            <a href="{{ url_for('editTemplate') }}"><button class="homeButton">Edit Templates</button></a><br>
            <a href="{{ url_for('cardInfo') }}"><button class="homeButton">Get Card Information</button></a>
        </div>
        <br>-->
        <div id="homePage">
            <form action="" method="POST">
                <input type="text" id="cardInput" name="cardInput" placeholder="Enter card game..." required>
                <input type="submit" id="cardGame" value="Submit" class="submitButton">
            </form>
        </div>

    <script>
    function myFunction() {
        var input, filter, ul, li, a, i, txtValue;
        input = document.getElementById("cardInput");
        filter = input.value.toUpperCase();
        ul = document.getElementById("myUL");
        li = ul.getElementsByTagName("li");
        for (i = 0; i < li.length; i++) {
            a = li[i].getElementsByTagName("a")[0];
            txtValue = a.textContent || a.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                li[i].style.display = "";
            } else {
                li[i].style.display = "none";
            }
        }
    }
    </script>
    </body>
</html>