<!--https://www.w3schools.com/tags/tryit.asp?filename=tryhtml5_canvas_drawimage
https://atomicrobotdesign.com/blog/javascript/draw-a-rectangle-using-the-mouse-on-the-canvas-in-less-than-40-lines-of-javascript/
https://jsfiddle.net/richardcwc/ukqhf54k/-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>New Symbol</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='monopolyTactileOverlay2.ico') }}">
    </head>
    <header>
        <div class="theLeftHeader">
            <a href="{{ url_for('index') }}"><button class="quitButton">QUIT</button></a>
        </div>
        <div class="theMiddleHeader">
            <b><u>Game:</u></b> {{cardGame}}
        </div>
        <div class="theRightHeader">
            <a href="{{ url_for('symbolDirections') }}"><button class="otherButton">GO BACK</button></a>
        </div>
    </header>
    <body>
    <main role="main">
        <h1>ADDING NEW SYMBOLS</h1>
        <br>
        <div class="row">
            <div class="column left">
                <div class="column left" style="width:25%;">
                    <h2>Select a card to label</h2>
                    <form id="cardInfo" action="" method="POST">
                        <select id="templateNames" name="templateNames" size="7" onChange="showImage()" style="width: 100px;">
                            {%for i in range(0, templateLen)%}
                                <option value="{{templateNames[i]}}">{{templateNames[i]}}</option>
                            {%endfor%}
                        </select>
                    </form>
                    <br>
                    <a href="/cardUpload"><button style="width:100%">Upload More Cards</button></a>
                </div>
                <div class="column right" id="theCard" style="width: 75%;">
                    <font color="red">1. Draw regions around symbols on the image&#8595;&#8595;&#8595;</font>
                    <br>
                    <!--
                    <div class="dialogBox" id="finish">
                        <div class="message">Are you finished labeling all new symbols on this card?</div>
                        <br>
                        <a href="{{ url_for('theCards') }}"><button class="yes">Yes</button></a>
                        <button class="no">No</button>
                    </div>
                    <div class="dialogBox" id="quit">
                        <div class="message">Are you sure you want to quit labeling the symbols on this card?</div>
                        <br>
                        <a href="{{ url_for('theCards') }}"><button class="quit">Quit</button></a>
                        <button class="cancel">Cancel</button>
                    </div>
                    <div class="dialogBox" id="retake">
                        <div class="message">Are you sure you want to retake the picture of this card?</div>
                        <br>
                        <a href="{{ url_for('theCards') }}"><button class="quit">Retake</button></a>
                        <button class="cancel">Cancel</button>
                    </div>-->
                    <img src="" id="theImagetoLabel" alt="Image to Be Labeled">
                    <canvas id="canvas" width="400" height="400"></canvas>
                    <div class="buttonGroup">
                        <button id="undoSymbols">Undo Last Saved Symbols</button>
                        <button id="showSymbols">Show Symbols Created</button>
                        <form id="regionRefresh">

                        </form>
                    </div>
                </div>

            </div>
            <div class="column right" id="rightDiv">
                <br><br>
                <font color="red">2. Answer question below. All fields required.</font><br>
                <div id="">
                    <form id="symbolInfo" action="" method="POST">
                        <label for="symbolTemplateName" class="readOnlyFormElement">Card Name:</label>
                        <input type="text" id="symbolTemplateName" name="symbolTemplateName" class="readOnlyFormElement" readonly>
                        <label>What is the text translation of this symbol?</label>
                        <input type="text" id="theSymbolName" name="theSymbolName" required> <br>
                        <label for="symbolCoors" class="readOnlyFormElement">Coordinates:</label>
                        <input type="text" id="symbolCoors" name="symbolCoors" class="readOnlyFormElement" readonly required>
                        <p>
                        Preview Image of Symbol:<br>
                        <img src="static/smallOrange.png" id="symbolPreview" alt="Symbol Preview">
                        </p>

                    </form>
                    <button class="submitButton" onclick="saveSymbolInfo()">Save Symbol</button>
                    <a id="isDone" href="/printLabel"><button id="finishLabeling">Finished</button></a>
                </div>
            </div>
        </div>
        <object width="800" height="800" type="text/plain" data="static/userData/symbols.txt" border="0" id="currSymbolInfo">
        </object>
        </main>
        <script>

            //Canvas
            var canvas = document.getElementById('canvas');
            var ctx = canvas.getContext('2d');
            var img = document.getElementById('theImagetoLabel');

            //Variables
            var canvasx = $(canvas).offset().left;
            var canvasy = $(canvas).offset().top;
            var last_mousex = last_mousey = 0;
            var mousex = mousey = 0;
            var mousedown = false;

            img.onload = function(){
              ctx.drawImage(img,0,0);
            };

            //Mousedown
            $(canvas).on('mousedown', function(e) {
                last_mousex = parseInt(e.clientX-canvasx);
                last_mousey = parseInt(e.clientY-canvasy);
                mousedown = true;
            });

            //Mouseup
            $(canvas).on('mouseup', function(e) {
                mousedown = false;
                var name = document.getElementById("templateNames").value;
                document.getElementById('symbolTemplateName').value = document.getElementById("templateNames").value;
                document.getElementById('symbolCoors').value = '(' + last_mousex + ',' + last_mousey + ',' + mousex + ',' + mousey + ')';
                var coors = document.getElementById("symbolCoors").value;
                coors = coors + ' ' + name;
                $.ajax({
                    type: "POST",
                    url: "/symbolPreview",
                    contentType: "application/json",
                    data: JSON.stringify(coors),
                    dataType: "json",
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
                $.ajax({
                   url: "/symbolImage",
                   type: "GET",
                   success: function(response) {
                      $("#symbolPreview").attr('src', '/static/userData/' + response);
                   },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });

            //Mousemove
            $(canvas).on('mousemove', function(e) {
                mousex = parseInt(e.clientX-canvasx);
                mousey = parseInt(e.clientY-canvasy);
                if(mousedown) {
                    ctx.clearRect(0,0,canvas.width,canvas.height); //clear canvas
                    ctx.drawImage(img, 0, 0);
                    ctx.beginPath();
                    var width = mousex-last_mousex;
                    var height = mousey-last_mousey;
                    ctx.rect(last_mousex,last_mousey,width,height);
                    ctx.strokeStyle = 'red';
                    ctx.lineWidth = 2;
                    ctx.stroke();
                }
            });

            function finishAlert(msg, myYes) {
                var finishBox = $("#finish");
                finishBox.find(".message").text(msg);
                finishBox.find(".no").unbind().click(function() {
                   finishBox.hide();
                });
                finishBox.find(".yes").click(myYes);
                finishBox.show();
            }

            function quitAlert(msg, myYes) {
                var quitBox = $("#quit");
                quitBox.find(".message").text(msg);
                quitBox.find(".cancel").unbind().click(function() {
                    quitBox.hide();
                });
                quitBox.find(".save").click(myYes);
                quitBox.show();
            }

            function retakeAlert(msg, myYes) {
                var retakeBox = $("#retake");
                retakeBox.find(".message").text(msg);
                retakeBox.find(".cancel").unbind().click(function() {
                    retakeBox.hide();
                });
                retakeBox.find(".save").click(myYes);
                retakeBox.show();
            }

            function clearForm() {
                var image = document.getElementById("symbolPreview");
                image.src = 'static/smallOrange.png';
                document.getElementById("symbolInfo").reset();
            }

            $('#isDone').click(function(){

                var isDone = confirm("Are you finished labeling all symbols on all cards?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            $('#toRetake').click(function(){
                var isDone = confirm("Are you sure you want to retake the picture of this card?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            $('#toQuit').click(function(){
                var isDone = confirm("Are you sure you want to quit?\nSelect OK to continue or Cancel to keep taking labeling.");
                if(isDone){
                    return true;
                }else {
                    return false;
                }
            });

            function showImage(){
                var image = document.getElementById("theImagetoLabel");
                var dropdown = document.getElementById("templateNames");
                image.src = 'static/newCards/' + dropdown.value;
            };

            $('#showSymbols').click(function(){
                var x = document.getElementById("currSymbolInfo");
                if (x.style.display === "block") {
                    x.style.display = "none";
                } else {
                    x.style.display = "block";
                }
            });


            $('#undoSymbols').click(function(){
                $.ajax({
                   url: "/removeLastSymbol",
                   type: "POST",
                   success: function(response) {
                      document.getElementById("regionRefresh").submit();
                   },
                  error: function(xhr) {
                    //Do Something to handle error
                  }
                });
            });

            function saveSymbolInfo() {
                var x = document.getElementById("symbolInfo");
                var image = document.getElementById("symbolPreview");
                var txt = "";
                var title = x.elements[0].value;
                var i;
                for (i = 0; i < x.length; i++) {
                    txt = txt + x.elements[i].value + "\t";
                }
                console.log(txt);
                $.ajax({
                    type: "POST",
                    url: "/saveCardSymbols",
                    contentType: "application/json",
                    data: JSON.stringify(txt),
                    dataType: "json",
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
                x.reset();
                image.src = 'static/smallOrange.png';
                x.elements[0].value = title;
            }

        </script>
    </body>
</html>