<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Revise Templates</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <a href="{{ url_for('stepTwo') }}"><button id="headerButton">Home</button></a>
    </header>
    <body>
    <main role="main">
        <h1>Revising Templates</h1>
        <div class="row">
            <div class="column left">
                <img src="static/editImage.jpg" id="theImagetoBeEdited" alt="Image to Edit">
            </div>
            <div class="column right">
                <p>
                    Template Revising: {{templateName}}
                </p>
                <form id="templateInfo" action="" method="POST">
                    {%for i in range(0, len)%}
                        <input type="checkbox" id="{{regionNames[i]}}" name="regionCoors" value="{{regionNames[i]}}">
                        <label for="{{regionNames[i]}}">{{regionNames[i]}}</label><br>
                    {%endfor%}
                    <input type="submit" value="Delete Selected Regions">
                </form>
                <a href="{{ url_for('labelRegions', templateName=templateName) }}"><button>Add Region</button></a>
            </div>
        </div>
    </main>
    </body>
</html>