<html lang="en">
    <head>
        <title>LabelGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='monopolyTactileOverlay2.ico') }}">
    </head>
    <header>
        <br>
        <div class="theLeftHeader">
            <a href="{{ url_for('index') }}"><button class="quitButton">QUIT</button></a>
        </div>
        <div class="theMiddleHeader">
            <b><u>Game:</u></b> {{cardGame}}
        </div>
        <div class="theRightHeader">
            <a href="{{ url_for('newSymbol') }}"><button class="otherButton">GO BACK</button></a>
        </div>
    </header>
    <body>
    <h1>Upload the symbols one at a time</h1>
    <br><br>
    <div>
        <form action="/symbolUpload" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" name="symbols">
            <input type="submit" class="submitButton" value="Upload" onclick="return checkFile();">
        </form>
        <a href="{{ url_for('remainingCards') }}"><button type="button" id ="done">DONE</button></a>
    </div>
    <script>
    function showStep() {
        document.getElementById("secondStep").style.display = "block";
    }
    function showNextStepYes() {
        document.getElementById("thirdYesStep").style.display = "block";
        document.getElementById("thirdNoStep").style.display = "none";
    }
    function showNextStepNo() {
        document.getElementById("thirdYesStep").style.display = "none";
        document.getElementById("thirdNoStep").style.display = "block";
    }
    function checkFile() {
        var file = document.getElementById("myFile");

        if(file.files.length == 0 ){
            alert('No symbol file selected, please choose a symbol file');
            return false;
        } else {
            document.getElementById("myForm").submit();
        }
    }
    </script>
    </body>
</html>