<!--https://stackoverflow.com/questions/58924015/how-to-display-image-in-flask-after-a-button-is-pressed
https://stackoverflow.com/questions/59370905/flask-calling-python-function-that-return-image-on-button-onclick
https://www.tutorialspoint.com/How-to-design-a-custom-alert-box-using-JavaScript
https://buildcoding.com/upload-and-download-file-using-flask-in-python/#Download_File_in_Flask-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Scan Board</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
         <script src="//cdnjs.cloudflare.com/ajax/libs/jspdf/1.4.1/jspdf.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
    </head>
    <header>
        <div class="theLeftHeader">
            <a href="{{ url_for('index') }}"><button class="quitButton">QUIT</button></a>
        </div>
        <div class="theMiddleHeader">
            <b><u>Game:</u></b> {{cardGame}}
        </div>
        <div class="theRightHeader">
            <a href="{{ url_for('theBoard') }}"><button class="otherButton">GO BACK</button></a>
        </div>
    </header>
    <title>Download File</title>
    <h1>Download File</h1>
    <body class="body">



<canvas id="myCanvas" width="578" height="200"></canvas>
<button id="download">download</button>
        <script>
            var theCanvas = document.getElementById("myCanvas");
            //alert(theCanvas);
            var context = theCanvas.getContext("2d");

            context.fillStyle = "#FFFFFF";
            context.fillRect(0, 0, theCanvas.width, theCanvas.height);

// draw a blue cloud
context.beginPath();
context.moveTo(170, 80);
context.bezierCurveTo(130, 100, 130, 150, 230, 150);
context.bezierCurveTo(250, 180, 320, 180, 340, 150);
context.bezierCurveTo(420, 150, 420, 120, 390, 100);
context.bezierCurveTo(430, 40, 370, 30, 340, 50);
context.bezierCurveTo(320, 5, 250, 20, 250, 50);
context.bezierCurveTo(200, 5, 150, 20, 170, 80);
context.closePath();
context.lineWidth = 5;
context.fillStyle = '#8ED6FF';
context.fill();
context.strokeStyle = '#0000ff';
context.stroke();

download.addEventListener("click", function() {
    var pdf = new jsPDF('p', 'in', [11, 14]);
    var width = pdf.internal.pageSize.getWidth();
    var height = pdf.internal.pageSize.getHeight();

    var imgData = theCanvas.toDataURL("image/jpeg", 1.0);
    pdf.addImage(imgData, 'JPEG', 0, 0, width, height);
    pdf.save("tactileOverlay.pdf");
}, false);
        </script>
    </body>
</html>