<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list
https://pythonise.com/series/learning-flask/flask-uploading-files
https://flask.palletsprojects.com/en/1.1.x/patterns/fileuploads/-->
<html lang="en">
    <head>
        <title>LabelGen</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='monopolyTactileOverlay2.ico') }}">
    </head>
    <header>
        <a href="{{ url_for('index') }}"><button id="headerButton">QUIT</button></a>
    </header>
    <body>
    <!--
    <h1>Does {{cardGame}} have a board?</h1>
    <br>
    <div class="buttonGroup">
        <button type="button" id ="boardYes" onclick="showStep()">Yes</button>
        <a href="{{ url_for('gamePieces') }}"><button type="button" id ="boardNo">No</button></a>
    </div>
    <br><br>
    -->
    <!--
    <div id="secondStep">
        <h2 style="text-align: left;">Select the image of your board</h2>
        <form action="/theBoard" method="POST" enctype="multipart/form-data">
            <input type="file" id="boardImage" name="image">
            <input type="submit" value="Upload" class="submitButton" onclick="return checkFile();">
        </form>
    </div>-->
    <h1>Board Labels: {{cardGame}}</h1>
    <div>
        <h2>Board Tactile Labels</h2>
        <p>
            You will create a tactile overlay to place over the board. When creating the tactile overlay, you want to make sure
            all <i>important</i> visual information on the board is translated to a tactile medium.
        </p>
        <center>
            <img src="static/sorryTactileOverlay.jpg" height="40%" alt="Tactile Overlay for Sorry">
            <figcaption>Tactile markers on the board game Sorry. There are gems that denote each game spaces and
            pipe cleaners where the cards should go</figcaption>
        </center>
        <form action="/theBoardTactile" method="POST" enctype="multipart/form-data">
            <input type="file" id="myFile" name="board" required>
            <input type="submit" class="submitButton" value="Upload" onclick="return checkFile();">
        </form>
        <br>
        <div class="buttonGroup">
            <a href="{{ url_for('theChecklist') }}"><button>BACK</button></a>
            <a href="{{ url_for('boardTactileAnnotation') }}"><button>Already uploaded image of board</button></a>
        </div>
    </div>
    <script>
        function showStep() {
            document.getElementById("secondStep").style.display = "block";
        }
        function showNextStep() {
            document.getElementById("thirdStep").style.display = "block";
        }
        function checkFile() {
            var file = document.getElementById("boardImage");

            if(file.files.length == 0 ){
                alert('No file selected, please choose a file');
                return false;
            } else {
                return true;
            }
        }
    </script>
    </body>
</html>