<!--https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list-->
<html lang="en">
    <head>
        <title>BoardBooster</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/labelGen.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='cardBraille2.ico') }}">
    </head>
    <header>
        <div class="theLeftHeader1" id="theHeader">
            <a href="{{ url_for('index') }}"><button class="quitButton">QUIT</button></a>
        </div>
        <div class="theRightHeader1">
            <a href="{{ url_for('theChecklist') }}"><button class="otherButton">GO BACK</button></a>
        </div>
    </header>
    <body>
    <!--
    <h1>Does {{cardGame}} have any cards?</h1>
    <br>
    <div class="buttonGroup">
        <a href="{{ url_for('cardUpload') }}"><button type="button" id ="digitalYes">Yes</button></a>
        <a href="{{ url_for('accessKit') }}"><button type="button" id ="cardNo">No</button></a>
    </div>-->
    <br><br>
    <h2>Scan/Upload Cards</h2>
    <p>
        You will create Braille labels for your game cards. Our application will recognize the text in the image of the
        card you upload or scan. You will need to review the text to make sure that the text is correct, and any other
        information that is not there, like symbols or the color card. Make sure you are mindful of the character limit.
    </p>
    <center><a href="{{ url_for('scanCards') }}"><button disabled>Scan Cards</button></a></center><br>
    <center><a href="{{ url_for('cardUpload') }}"><button>Upload Cards</button></a></center>
    <script>

    $('#cardNo').click(function(){
        $.ajax({
           url: "/generateAccessKitPDF",
           type: "GET",
           success: function(response) {
              console.log(response);
           },
          error: function(xhr) {
            //Do Something to handle error
          }
        });
    });
    </script>
    </body>
</html>